
.cardAudio{
    .divTile{
        position: absolute;
        bottom: 0.5rem;
        width: calc(100% - 1rem);
        color: #f4f4f4;
        background-color: rgba(0,0,0,0.6);
        padding: 3px 0px 0px 0px;
        text-shadow: 1px 2px 2px #000;
        font-size: 12px;
        display: block;
        margin-top: 2px;
        text-align: center;
        font-family: "Roboto Condensed",Tahoma,sans-serif;
        left: 0.5rem;
        
    }
    img{

        max-width: 100%;
        height: 100%;
    }
    .mlieps{
        position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    padding-top: 14px;
    text-align: center;
    height: 40px;
    border-radius: 50%;
    background: rgba(183,28,28,.9);
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1em;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    }
}

