.ListAudio{
    
    .row{
        .cardAudio{
            position: relative;
            border-radius: 30px;
            padding: 0.5rem;
        }
        
    }
    
}
@media only screen and (max-width: 575px) and (min-width:465px) {
    .ListAudio { 
    
        padding: 1px 60px;
        
    }
}

