
.footer {
    background:#232a34;
	padding-bottom: 10px;
	padding-top: 10px;
}
.footer_menu {
	margin-bottom: 20px;
}
.footer_menu ul {
	list-style: none;
	text-align: center;
}
.ajaj{
    padding-top: 16px;
}
.div_auth{
    position: relative;
    width: 70px;
    height: 40px;
}
.linka{
        /* position: absolute; */
        width: 75px;
        /* height: 30px; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p{        
            margin-top: 0;
            margin-bottom: 0;
        }
}
.abcd{
    
    display: none!important;
}
.acac{
    position: absolute!important;
    li{
                list-style: none;
                
    }
    ul{
        padding-left: 0rem;
    }
    .fill{
        display: inline-block;
    width: 100%;
    height: 100%;
    }
    font-size: 14px;
        text-align: left;
        background-color: #fff;
        width: 100%;
        padding: 5px 0;padding-left: 15px;

        a{
            color: #333;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 32px;
            padding: 0 10px;
            text-decoration:none;
            white-space: nowrap;            
        }
}
.footer_menu ul li{display: inline-block;}
.footer_menu ul li a {
	color:#fff;
	padding: 0 10px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.footer_menu ul li a:hover{color:#554c86;}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile{margin-bottom:40px;}
.footer_profile ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.footer_profile ul li{
display: inline-block;
}
@media only screen and (max-width:480px) { 
.footer_profile ul li{margin:2px;}
}
.footer_profile ul li a img{width:60px;}

.footer_profile ul li a {
	background: #554c86;
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	margin-right: 5px;
	border-radius: 50%;
	line-height: 40px;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-transition: .3s;
	transition: .3s;
	color: #fff;
}
.footer_copyright {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}

.Nabar{
    .hei{
        min-height: calc(100vh - 5rem);
    }
    
    .offcanvas { 
    
        --bs-offcanvas-width: 40%!important; 
        --bs-dropdown-border-width:0;
        
    }
    @media only screen and (max-width: 540px) {
        .offcanvas { 
        
            --bs-offcanvas-width: 50%!important; 
            
        }
    }


    @media only screen and (max-width: 400px) {
        .offcanvas { 
        
            --bs-offcanvas-width: 70%!important; 
            
        }
    }
    

    .rowc{
        background: #ecf0f1;
        color: #333;
        text-align: center;
        font-size: 15px;
        line-height: 40px;
        border-top: 2px solid #ECF0F1;
    }

    .bo{
        border: 1px solid #ddd;
        height: 100%;
    }
    .activer{
        border-top: 2px solid #721799;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        background: #fff;
    }
    a{
        color: black!important;
        
    }
    a:hover{
        color: #b3ffb3!important;
    }

}

.abc{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.search-i{
    border-radius: 17px;
    padding-left: 30px;
    background-image: url('/search2.png');
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 7px 10px; 
    background-size: 16px;
    border: #ECF0F1;
    border-width: 5px;
    outline: none;
    width: 100%;
}    
.d-flex{
    .search-i:focus {
        border: 2px solid #90c0ff;
      }
}
.Nabar a {
    padding-right: 15px!important;
}