.theLoai{
    left: -160px!important;
    position: absolute!important;
    li{
                list-style: none;
                
    }
    ul{
        padding-left: 0rem;
    }
    .fill{
        display: inline-block;
    width: 100%;
    height: 100%;
    }
    
    
    .tb{
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        width: 100%;
        padding: 5px 0;padding-left: 15px;

        a{
            color: #333;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 32px;
            padding: 0 10px;
            text-decoration:none;
            white-space: nowrap;            
        }
            
    }
   
    @media only screen and (min-width: 992px)  {
       

        .tb { 
        
            width: 600px;
            
        }
        
        
        

    }
    @media only screen and (max-width: 992px) {
        left:0!important ;

        .tb { 
        
            width: 600px;
            
        }
        
    }
    
    .row {
        margin-left:0!important;
        margin-right:0!important;
    }
    @media only screen and (max-width: 767px) {
        .tb { 
        
            width: 200px;
            
        }
        
    }
}


@media only screen and (min-width: 992px) {
    
    .sha{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

        
    }
    

}

@media only screen and (max-height: 900px) and  (max-width: 992px) {
    .sha{
        height: 330px;
    }
}
@media only screen and (max-height: 700px) and  (max-width: 992px) {
    .sha{
        height: 240px;
    }
}
@media only screen and (max-height: 500px) and  (max-width: 992px){
    .sha{
        height: 200px;
    }
}
@media only screen and (max-height: 400px) and  (max-width: 992px){
    .sha{
        height: 140px;
    }
}
@media only screen and (max-height: 330px) and  (max-width: 992px){
    .sha{
        height: 110px;
    }
}
