.TopAudio{
    .thumb{
        overflow: hidden;
        width: 60px;
        height: 60px;
        float: left;
        margin-right: 10px;
    
    }
    .title{
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .chapter{
        font-size: 13px;
        padding-top: 2px;
    }
}